# Directory
.vscode/
node_modules/
tmp/

# File
.*
tmp.*
*.log

#
# Root
#
/*

# Root File
!/.editorconfig
!/.eslintrc*
!/.gitignore
!/.prettier*

!/CHANGELOG.md 
!/README.md
!/index.html
!/package.json
!/page.css
!/start.ts
!/tsconfig.json
!/yarn.lock

# Root directory
!/asset
!/src